 <%- include('./partials/_header.ejs') %>

 <header>
     <div id="intro" class="view">
		 <div  id="bkg" >
			 <div class="titleWord">
			 <h1 class="title1 font-weight-bold blue-text pt-5 ">I Blog,</h1>
			 <h1 class="title2 font-weight-bold white-text pt-5 ">记录生活点滴</h1>
			 </div>
		 </div>

        <div id="resgiter">
			<div id="typeWord">
						 <h2  class="logo display-4 display-block font-weight-bold blue-text pt-5 mb-2">I Blog</h2>

                         <hr class="hr-light">

                         <p  class="wordList white-text font-weight-bold">I Blog欢迎您！我们为您提供纸笔，您与我们分享生活</p>
                         
		    </div>
			
			<div class="typeButton">
				            <a href="/users/register"   ><button class="font-weight-bold">注册</button></a>
							 
							<h2 style="margin-left: 22%; font-size: 20px;" class="display-block font-weight-bold white-text">or</h1>
				
				            <a href="/users/login"  ><button class=" font-weight-bold">登陆</button></a>
			</div>

     </div>

 </header>
 </div>
 </main>


 <%- include('./partials/_footer.ejs') %>