
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body {
    position: relative;
    min-height: 100vh;
	max-width: 100%;
    font-family: 'Roboto', sans-serif;
	background: #706969;

}

em {
    font-style: normal;
}




/* ======================
    File Ponds
=========================*/
.filepond {
	height: 500px !important;
}

.filepond--file-action-button {
    cursor: pointer;
}
.filepond--drop-label {
    height: 500px;
    border: 3px solid rgb(80, 78, 78);
    display: flex;
    justify-content: center;
}
.filepond--label-action {
    text-decoration-color: #acaeb1;
}
.filepond--panel-root {
    background-color: #edf0f4;
}



main {
    margin-top: 70px;
}

.main-image {
    width: 60%;
	height: 100%;
	top: 50%;
	margin-left: 20%;
}

.image-position {
	margin-top: 15px;
}











html,
body,
header,
#intro {
    height: 100%;
	max-width: 100%;
}



#bkg {
	float: left;
	max-width: 80%;
	width: 80%;
	height: 100%;
	margin-top: 0px;
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: 100%;
	background: url("https://s3.bmp.ovh/imgs/2021/12/753aab6ceb14f431.jpg")no-repeat center center fixed; 
}

#resgiter {
	float: right;
	width: 20%;
	height: 100%;
	margin-top: 0px;
	background-color: dimgray;
	box-shadow: 2px 2px 10px 5px black;
}

.titleWord{
	float: left;
	text-shadow: 7px 7px 5px black;
	margin-top: 700px;
	margin-left: 5%;
}

.title1{
	font-size: 70px;
}

.title2{
	font-size: 50px;
}

#typeWord{
	margin-top: 55%;
	margin-left: 5%;
	
}

.typeButton{
	margin-top: 25%;
	margin-left: 32%;
	align-items: center;
}

.typeButton button{
	margin-left: 3%;
	width: 50%;
	border: 2px solid white;
	font-size: 20px;
	padding: 15px 20px;
	align-items: center;
	color: white;
	background-color: dimgray;
	display: block;
	transition-duration: 0.2s;
}

.typeButton button:hover{
	background-color: #2196f3;
}

.logo {
	text-shadow: 6px 6px 1px black;
}

.wordList{
	font-size: 35px;
}

.titleName{
	background-color: #2196f3;
	height: 40px;
	padding-left: 15px;
	color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 2px 1px black;
}

.login-position{
	float: right;
	margin-top: 150px;
	background-color: rgba(255,255,255,0.7) ;
	height: 500px;
	width: 35%;
	align-items: center;
	margin-right: 10%;
	border-radius: 15px;
}

.login-input{
	margin-top: 90px;
	width: 60%;
	margin-left: 20%;
	text-align: center;
}

.loginBkg{
	margin-top: 70px;
	height: 835px;
	width: 100%;
	background-image: url("../img/loginBkg.jpg");
	background-position: -50px;
	background-attachment: fixed; 
}
.editBkg{
	height: 100%;
	width: 100%;
	background-image: url("../img/background 1.jpg");
	background-position: 0px;
	background-attachment: fixed; 
}

.bkgMask{
	width: 100%;
	height: 835px;
	background-color: rgba(0,0,0,0.1);
}

#foot{
	position: absolute;
	width: 100%;
	height: 170px;
	background-color: black;
	text-align: center;
	box-shadow: 2px 2px 4px 2px black;
}

#foot1{
	position: absolute;
	width: 100%;
	height: 130px;
	background-color: black;
	text-align: center;
	box-shadow: 2px 2px 4px 2px black;
}

.dailyWord{
	float: left;
	height: 200px;
	width: 30%;
	margin-top: 200px;
	margin-left: 13%;
	text-align: left;
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: bold;
	color: wheat;
	line-height: 60px;
}

.regBkg{
	height: 100%;
	width: 100%;
	background-image: url("../img/loginBkg.jpg");
	background-position: -50px;
	background-attachment: fixed; 
}

.regBkgMask{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
}

.register-position{
	align-items: center;
	background-color: rgba(255,255,255,0.7) ;
	width: 35%;
	float: left;
	margin-left: 34%;
	border-radius: 15px;
	margin-top: 200px;
	height: 600px;
}

.register-input{
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-top: 100px;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  
	  @media screen and (max-width: 1400px) {
		  .titleWord{
			   margin-top: 470px;
		   }
		   
		   .title1{
		   	  font-size: 60px;
		   }
		   
		  .title2{
			  font-size: 40px;
		  }
		  
		  .logo{
			  font-size: 40px;
		  }
		  .wordList{
			  font-size: 25px;
		  }
		  
		  .typeButton button{
			  font-size: 15px;
			  margin-left: 1%;
			  width: 55%;
			  align-items: center;
		  }
		  
		  
		
  }
  	



























/* 


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding: 2rem;
} */